<div class="row p-3">
    <div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="col-md-10">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum, tenetur nobis esse dicta dolore aut repellat aliquam consequuntur! Mollitia itaque vitae eveniet eius animi maxime, magnam cumque nihil laudantium!
Dolores beatae exercitationem incidunt culpa nisi nostrum ullam, quod itaque repellendus, sapiente, laborum quo nobis eos ratione possimus enim dolore hic odio soluta pariatur ducimus. Iure repellat perspiciatis cumque rerum.
Alias dolore iure consectetur exercitationem, fugiat voluptatem dolorum omnis eaque veniam quae natus impedit, totam repellendus soluta atque fugit beatae, nostrum velit dolor. Dolorum tempore aperiam voluptas eius similique alias!
Animi, aspernatur laborum. Perferendis quasi architecto fuga ut totam magni laborum eos ad? Omnis voluptate aperiam quod molestiae repudiandae accusamus quasi, facilis atque nisi deleniti praesentium. Id, facere? Tempora, ullam.
Nostrum amet quidem culpa, sed, ipsam incidunt maxime consectetur magni maiores quibusdam odio. Ipsam quas amet ipsa incidunt similique, alias animi fuga facilis et nisi eveniet accusamus perferendis voluptatibus minus.</p>

</div>
</div>
